NODE_ENV=development
# Add the connection string for your mongodb database. You can create a free account with 500MB storage managed db on https://www.mongodb.com/atlas/database
DB_STRING=
# Get and add rpc urls on both keys below.
# Both keys can have same values or different values
# This is done in order to bypass the rate limiting set by rpc providers
RPC_URL=
RPC2_URL=
# Don't change client id
KAFKA_CLIENT_ID=nft-tracker
KAFKA_HOST=